{% extends "auctions/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'auctions/create.css' %}">
{% endblock %}

{% block body %}
    <h3 id="create_title">Create Your Auction</h3>

    <form action="{% url 'create' %}" method="POST" id="create">
        {% csrf_token %}
        <div class="create-item">
            <div class="create-item-label">
                <label>Title</label>
            </div>
            <div class="create-item-input">
                <input type="text" name="title" required>
            </div>
        </div>
        <div class="create-item">
            <div class="create-item-label">
                    <label>Price</label>
            </div>
            <div class="create-item-input">
                <input type="number" name="price" step="any" required>
            </div>
        </div>
        <div class="create-item">
            <div class="create-item-label">
                <label>Description</label>
            </div>
            <div class="create-item-input">
                <textarea name="description" cols="30" rows="10" required></textarea>
            </div>    
        </div>
        <div class="create-item">
            <div class="create-item-label">
                <label>Categories</label>
            </div>
            <div class="create-item-input">
                <select name="category">
                    {% for choice in choices %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="create-item">
            <div class="create-item-label">
                <label>Image URL</label>
            </div>
            <div class="create-item-input">
                <input type="url" name="image">
            </div>
        </div>
        
        <input type="submit">  
    </form>

    <h3 id="new_category_title" >Add new category</h3>
    <form action="{% url 'add_category' %}" method="POST" id="category_form">
        {% csrf_token %}
            <div class="category_item">
                <input type="text" name="new_category">
            </div>
            <input type="submit">
    </form>
{% endblock %}