{% extends "auctions/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'auctions/authenticated.css' %}">
{% endblock %}

{% block body %}

    <h2 class="title">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p class="alternate_page">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}